.blog-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  text-align: center;
  border-left: 4px solid #a3d8d3;
  padding-left: 20px;
}

.blog-center h1 {
  font-size: 5em;
  color: #ffffff;
}

.blog-center p {
  font-size: 2em;
  color: #a3d8d3;
  margin-top: 10px;
}