:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     217,217,217;
--color-neutral-100:    179,179,179;
--color-neutral-200:    141,141,141;
--color-neutral-300:    103,103,103;
--color-neutral-400:    64,64,64;
--color-neutral-500:    26,26,26;
--color-neutral-600:    6,6,6;
--color-neutral-700:    0,0,0;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    242,237,254;
--color-primary-400:    191,164,250;
--color-primary-500:    139,92,246;
--color-primary-600:    111,53,244;
--color-primary-700:    84,15,242;
--color-primary-800:    70,11,204;
--color-primary-900:    57,9,166;
--color-secondary-50:     224,221,240;
--color-secondary-100:    176,168,217;
--color-secondary-200:    127,115,194;
--color-secondary-300:    85,70,162;
--color-secondary-400:    57,47,108;
--color-secondary-500:    29,24,55;
--color-secondary-600:    14,12,27;
--color-secondary-700:    0,0,0;
--color-secondary-800:    0,0,0;
--color-secondary-900:    0,0,0;
}