:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     217,217,217;
--color-neutral-100:    179,179,179;
--color-neutral-200:    141,141,141;
--color-neutral-300:    103,103,103;
--color-neutral-400:    64,64,64;
--color-neutral-500:    26,26,26;
--color-neutral-600:    6,6,6;
--color-neutral-700:    0,0,0;
--color-neutral-800:    0,0,0;
--color-neutral-900:    0,0,0;
--color-primary-50:     224,221,240;
--color-primary-100:    176,168,217;
--color-primary-200:    127,115,194;
--color-primary-300:    85,70,162;
--color-primary-400:    57,47,108;
--color-primary-500:    29,24,55;
--color-primary-600:    14,12,27;
--color-primary-700:    0,0,0;
--color-primary-800:    0,0,0;
--color-primary-900:    0,0,0;
--color-secondary-50:     255,255,255;
--color-secondary-100:    255,255,255;
--color-secondary-200:    255,255,255;
--color-secondary-300:    255,255,255;
--color-secondary-400:    255,255,255;
--color-secondary-500:    230,230,230;
--color-secondary-600:    210,210,210;
--color-secondary-700:    189,189,189;
--color-secondary-800:    169,169,169;
--color-secondary-900:    148,148,148;
}